<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tusk.lvoryTower.dao.UserDAO">
	<select id="countUser" resultType="int">
		select count(userId) userCount from user;
	</select>
	<select id="getUserById" parameterType="long" resultType="com.tusk.lvoryTower.module.User">
		select userId,
		 username, 
		 password, 
		 idNumber,
		 idCardPhotoPath,
		 realName,
		 schoolId,
		 departmentId,
		 photoPath,
		 registerDate 
		 from user 
		 where userId=#{userId}
	</select>
</mapper>