<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath*:spring/properties/jdbc.properties"/>
   	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 连接池启动时创建的连接数量 -->
        <property name="initialSize" value="${jdbc.initialSize}" />
        <!-- 同一时间可以从连接池中分配的最多连接数  -->
        <property name="maxActive" value="${jdbc.maxActive}" />
    </bean>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource"/>
	</bean>
    
    <bean id="springDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="${jdbc.driverClassName}"/>
    	<property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    	<constructor-arg ref="dataSource" />
    </bean>
    
    <bean id="userInfoDAO" class="com.tieto.titan.spring.jdbcTemplate.dao.UserInfoDAO">
    	<property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="userInfoDAO2" class="com.tieto.titan.spring.jdbcTemplate.dao.UserInfoDAO2">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    
</beans>