<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- test autowire byName -->
    <bean id="keny2" class="com.tieto.titan.spring.ioc.impl.Instrumentalist" autowire="byName">
		<property name="song">
			<value>My heart will go on</value>
		</property>
    </bean>
    <bean id="instrument" class="com.tieto.titan.spring.ioc.impl.Saxophone"></bean>
    <!-- test autowire byType -->
    <bean id="keny3" class="com.tieto.titan.spring.ioc.impl.Instrumentalist" autowire="byType">
		<property name="song">
			<value>Little House</value>
		</property>
    </bean>
    <bean id="piano" class="com.tieto.titan.spring.ioc.impl.Piano" primary="true" p:number="10086"/>
    <bean id="saxophone" class="com.tieto.titan.spring.ioc.impl.Saxophone" autowire-candidate="false"/>
    <bean id="piano2" class="com.tieto.titan.spring.ioc.impl.Piano"  p:number="10000" primary="false"/>
    
    <!-- Test autowire by constructor (autowiring by class type) -->
    <bean id="duck" class="com.tieto.titan.spring.ioc.impl.PoeticJuggler" autowire="constructor" />
    <bean id="sonect29" class="com.tieto.titan.spring.ioc.impl.Poem" />
    
    <beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
   		http://www.springframework.org/schema/beans/spring-beans.xsd"
		default-autowire="byName">
		<bean id="keny4" class="com.tieto.titan.spring.ioc.impl.Instrumentalist"
			autowire="byName">
			<property name="song">
				<value>My heart will go on</value>
			</property>
		</bean>
		<bean id="instrument" class="com.tieto.titan.spring.ioc.impl.Piano" >
			<property name="number" value="10010" /> 
		</bean>
	</beans>
</beans>