<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke" class="com.tieto.titan.spring.ioc.impl.Juggler">
        <!-- collaborators and configuration for this bean go here -->
        <constructor-arg value="15" />
    </bean>
    <bean id="sonect29" class="com.tieto.titan.spring.ioc.impl.Poem">
    </bean>
    
    <bean id="poeticDuke" class="com.tieto.titan.spring.ioc.impl.PoeticJuggler">
    	<constructor-arg value="10"></constructor-arg>
    	<constructor-arg ref="sonect29"></constructor-arg>
    </bean>
    
    <bean id="poeticDuke2" class="com.tieto.titan.spring.ioc.impl.PoeticJuggler">
    	<constructor-arg value="10"></constructor-arg>
    	<constructor-arg>
    		<bean class="com.tieto.titan.spring.ioc.impl.Poem"/>
    	</constructor-arg>
    </bean>
    <bean id="theStage" class="com.tieto.titan.spring.ioc.impl.Stage" factory-method="getInstance">
    </bean>
    
    <bean id="ticket" class="com.tieto.titan.spring.ioc.impl.Ticket" scope="prototype"></bean>

	<bean id="ticket2" class="com.tieto.titan.spring.ioc.impl.Ticket" scope="singleton"></bean>
	
	<bean id="kenny" class="com.tieto.titan.spring.ioc.impl.Instrumentalist">
		<property name="song" value="My heart will go on"></property>
		<!-- 
		<property name="instrument" ref="saxophone"></property> 
		-->
		<property name="instrument" ref="piano"></property>
		
	</bean>
	
	<bean id="kenny2" class="com.tieto.titan.spring.ioc.impl.Instrumentalist">
		<property name="song" value="My heart will go on"></property>
		
		<property name="instrument">
			<bean class="com.tieto.titan.spring.ioc.impl.Saxophone"></bean>
		</property>
	</bean>
	
	<bean id="piano" class="com.tieto.titan.spring.ioc.impl.Piano" >
		<!-- <property name="number"><null/></property> -->
		<property name="number" value="10010"></property>
	</bean>
	<bean id="saxophone" class="com.tieto.titan.spring.ioc.impl.Saxophone" />
	<bean id="guitar" class="com.tieto.titan.spring.ioc.impl.Guitar" />
	
	<bean id="band" class="com.tieto.titan.spring.ioc.impl.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="piano"></ref>
				<ref bean="saxophone"></ref>
				<ref bean="guitar"></ref>
			</list>
		</property>
		<property name="instrumentsArr">
			<set>
				<ref bean="piano"></ref>
				<ref bean="saxophone"></ref>
				<ref bean="saxophone"></ref>
			</set>
		</property>
		<property name="instrumentsSet">
			<list>
				<ref bean="piano"></ref>
				<ref bean="saxophone"></ref>
				<ref bean="piano"></ref>
			</list>
		</property>
		<property name="instrumentsPros">
			<props>
				<prop key="GUITAR">GUITAR</prop>
				<prop key="SAXOPHONE">SAXOPHONE</prop>
				<prop key="PIANO">PIANO</prop>
			</props>
		</property>
	</bean>
	
	<bean id="hank" class="com.tieto.titan.spring.ioc.impl.OneManBand2">
		<property name="instruments">
			<map>
				<entry key="piano" value-ref="piano"></entry>
				<entry key="saxophone" value-ref="saxophone"></entry>
			</map>
		</property>
	</bean>
	<bean id="auditorium" class="com.tieto.titan.spring.ioc.impl.AuditoriumImpl" init-method="turnOnLights" destroy-method="turnOffLights"></bean>
	
	<beans default-init-method="turnOnLights" default-destroy-method="turnOffLights"
		xmlns:p="http://www.springframework.org/schema/p">
		<bean id="auditorium2" class="com.tieto.titan.spring.ioc.impl.AuditoriumImpl" />
		<bean id="kenny3" class="com.tieto.titan.spring.ioc.impl.Instrumentalist"
			p:song= "Jingle Bells"
			p:instrument-ref = "saxophone" />
		
		<bean id="saxophone" class="com.tieto.titan.spring.ioc.impl.Saxophone" p:number="saxphone #10086"/>
		
	</beans>
</beans>