<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- Spring mvc -->
	
	
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- static resources images, js,css.. -->
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/pages/" mapping="/pages/*.html"></mvc:resources>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>	
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- mvc upload files -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000" />
	</bean>

	<!-- Controllers -->
	
	<!-- Services -->
	
	<bean id="userService" class="com.tusk.lvoryTower.services.impl.UserServiceImpl">
		<property name="dao" ref="userDao" />
	</bean>
 	
 	<!-- 
 	<bean id="springBeanFactoryUtils" class="com.tusk.lvoryTower.utils.SpringBeanFactoryUtils">
 		<property name="applicationContext" ref="appContext" />
 	</bean>
 	<bean id="appContext" class="org.springframework.context.support.ClassPathXmlApplicationContext">
 		<constructor-arg value="spring.xml" />
 	</bean>
 	 -->
</beans>