<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd">
	<bean id="audience" class="com.tieto.titan.spring.aop.Audience"></bean>
	<context:annotation-config />
	 
	<bean id="kenny" class="com.tieto.titan.spring.autowire.impl.Instrumentalist">
	</bean>
	<bean id="piano" class="com.tieto.titan.spring.autowire.impl.Piano" />
	<bean id="saxophone" class="com.tieto.titan.spring.autowire.impl.Saxophone" />
	<bean id="songSelector" class="com.tieto.titan.spring.autowire.impl.SongSelector" />
	<util:list id="songs">
		<value>My Heart will go on</value>
		<value>Just one last dance</value>
		<value>Little house</value>
		<value>So beautiful in white</value>
		<value>Tears</value>
		<value>Tonight I Celebrate My Love</value>
		<value>I believe I can fly</value>
	</util:list>
	<!--  
	<aop:config>
		<aop:aspect ref="audience">
			<aop:before pointcut="execution(* com.tieto.titan.spring.autowire.Performer.perform(..))" method="takeSeats"/>
			<aop:before pointcut="execution(* com.tieto.titan.spring.autowire.Performer.perform(..))" method="turnoffCellPhones"/>
			<aop:after-returning pointcut="execution(* com.tieto.titan.spring.autowire.Performer.perform(..))" method="applaud"/>
			<aop:after-throwing pointcut="execution(* com.tieto.titan.spring.autowire.Performer.perform(..))" method="demandRefound"/>
		</aop:aspect>
	</aop:config>
	-->
	
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut expression="execution(* com.tieto.titan.spring.autowire.Performer.perform(..))" id="performance"/>
			<aop:before pointcut-ref="performance" method="takeSeats"/>
			<aop:before pointcut-ref="performance" method="turnoffCellPhones"/>
			<aop:after-returning pointcut-ref="performance" method="applaud"/>
			<aop:after-throwing pointcut-ref="performance" method="demandRefound"/>
		</aop:aspect>
	</aop:config>
	
	
</beans>